@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins";
}

body {
  @apply bg-froggy-50 dark:bg-froggy-950 text-froggy-900 dark:text-froggy-100 transition ease-in-out duration-200;
}

h2 {
  @apply pr-4 text-3xl font-bold;
}

h2 > span {
  box-shadow: 0 0 7px -2px rgba(208, 208, 208, .15);
  @apply text-sm uppercase outline outline-1 outline-froggy-100 dark:outline-froggy-950 rounded-lg px-3 py-1 bg-froggy-100 dark:bg-froggy-900 relative bottom-1;
}

h2:has(+ span) {
  @apply relative;
}

.shadow {
  box-shadow: 0px 2px 4px 0 rgba(#212529, .12);
}

.nav-item {
  @apply px-2 font-bold;
}

.nav-status {
  @apply text-sm outline outline-2 outline-froggy-400 dark:outline-froggy-800 rounded-lg flex justify-center items-center py-3 px-1;
}

section {
  @apply max-w-6xl mx-auto my-4 p-4;
}
